<footer class="ba-footer">
	<!-- BEGIN row column  -->
	<div class="row column cf">
	    <div class="float-left">
	    	<p>©2014 tulusdriyo. All Rights Reserved.</p>
	    </div>
	    <div class="float-right">
	    	<!-- BEGIN ba-socials  -->
					<div class="ba-socials">
					<a href="#">
							<svg>
								<use xlink:href="#behans"></use>
							</svg>
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#facebook"></use>
							</svg>
						</a>
						<a href="#">
							<svg><use xlink:href="#twitter"></use></svg>
						</a>
						<a href="#">
							<svg><use xlink:href="#google"></use></svg>
						</a>
						<a href="#">
							<svg><use xlink:href="#linked"></use></svg>
						</a>
					</div>
					<!-- END ba-socials -->
	    </div>
	</div>
	<!-- END row column -->
</footer>
